html
  head
    title Pug example
    style.
      body {
        background:#dddddd;
      }
      h1 {
        color:#99aaff;
      }
    script.
      let name = prompt("what is your name", "");
      alert("I'm " + name);
    body
      #header
      h1 Hello Pug module
